*
!.gitignore
!requirements.txt
!*.py
!images/
!images/**
!README.md
!README_CN.md

# allow traversal
!backend/
!backend/app/
!backend/static/
!backend/app/data/

# allow backend files
!backend/app/*.py
!backend/static/**

# allow traversal
!data/
!data/prompts/
!data/ffmpeg/

# allow data resources
!data/prompts/**
!data/ffmpeg/**

# allow build system
!briefing.spec
!build.bat
!hooks/
!hooks/*.py
!.github/
!.github/workflows/
!.github/workflows/*.yml